@page "/"
@page "/contacts"
@inherits ContactsBase

<div class="page">
    <div class="container-fluid px-0">
        <div class="row g-3">
            <div class="col-12">
                <div class="card">
                    <h2>Usuarios Registrados</h2>
                    <div class="table-responsive">
                        <table class="table-stretch">
                            <colgroup>
                                <col style="width:35%">
                                <col style="width:25%">
                                <col style="width:20%">
                                <col style="width:20%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Teléfono</th>
                                    <th>Consentimiento</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (users is null)
                                {
                                    <tr>
                                        <td colspan="4">Cargando...</td>
                                    </tr>
                                }
                                else if (!users.Any())
                                {
                                    <tr>
                                        <td colspan="4">No hay usuarios registrados.</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var u in users)
                                    {
                                        <tr>
                                            <td @ondblclick="@(() => EnableEdit(u))">
                                                @if (IsEditing(u))
                                                {
                                                    <input class="form-control form-control-sm"
                                                           value="@GetBuffer(u)"
                                                           @oninput="@(e => OnNameChanged(u, e.Value?.ToString() ?? string.Empty))"
                                                           @onkeydown="@(e => OnNameKeyDown(e, u))"
                                                           @onblur="@(async _ => await DisableEditAsync(u))" />
                                                }
                                                else
                                                {
                                                    @u.FullName
                                                }
                                            </td>

                                            <td>@FormatPhone(u.PhoneNumber)</td>
                                            <td>
                                                <span class="badge @GetBadgeClass(u.ConsentStatus)">
                                                    @GetConsentText(u.ConsentStatus)
                                                </span>
                                            </td>
                                            <td>
                                                @GetActionButton(u)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
